body{
    background: rgba(39, 127, 199, 0.788);
    font: normal 18pt Arial;


}
header{

    color: rgb(255, 255, 255);
    text-align: center;
    


}

section{

    background: cornsilk;
    border-radius: 10px;
    padding: 15px; /* espanção */
    height: 500px; /*largura */
    text-align: center;
    margin: auto; /*centralizar tudo*/
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.425);

}

div{
text-align: center;
padding: 8px;
}

footer{
    color: white;
    text-align: center;
    font-style: italic;


}